{% extends 'cmdb/base.html' %}
{% load staticfiles %}
{% block titile  %} {% endblock %}

{% block body_block %}
    <h1>add os</h1>
    {% if not server %}
        noserver
    {% else %}
    <form id="os_form" method="post" action="/cmdb/cm_os/{{ server.id }}/add_os/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields  %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
               {{ field.errors }}
               {{ field.label }}
               {{ field }}
            </br>
        {% endfor %}
        <input type="submit" name="submit" value="add os">
    </form>
    {% endif %}
{% endblock %}