<meta charset="utf-8">
<script src="/static/js/cmdb-ajax.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.5/themes/icon.css">
<script type="text/javascript" src="/static/jquery-easyui-1.3.5/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-easyui-1.3.5/jquery.easyui.min.js"></script>
<script>
    $(function(){
	$('#app_list').datagrid({
    method:"get",
    url:'/cmdb/query_app/',
    pageSize:10,
    pageList:[10,20,30,40,50],
    pageNumber:1,
    pagination:true,
    singleSelect:true,
    columns:[[
        {field:'apply_num',title:'apply_num',width:100},
        {field:'base_info',title:'base_info',width:100},
        {field:'dev_strategy',title:'dev_strategy',width:100},
        {field:'system_status',title:'system_status',width:100,align:'right'}
      ]],
     toolbar: [{
		iconCls: 'icon-add',
        text:'add',
		handler: function(){

            window.location.href="/cmdb/add_app"

        }
	},'-',{
		iconCls: 'icon-edit',
        text:'edit',
		handler: function(){

            var row = $('#app_list').datagrid('getSelected');

            edit_url ="/cmdb/get_edit_app?id="+row.id;

            window.location.href=edit_url;
        }
	},'-',{
		iconCls: 'icon-remove',
        text:'remove',
		handler: function(){
            var row = $('#app_list').datagrid('getSelected');
            var id = row.id;
            $.ajax( {
                type : "get",
                url : "/cmdb/remove_app/",
                data : {"id":id},
                timeout : 20000,
                cache : false,
                success : function(data) {
                    if(data="success")
                       alert("delete success");
                    else
                       alert("delete failed")
                    $('#app_list').datagrid("reload")
                    }
            });

        }
	}

     ]
    });
})
</script>
{% extends 'cmdb/base.html' %}
{% load staticfiles %}
{% block titile  %} {% endblock %}
{% block body_block %}

  <table id="app_list"></table>

{% endblock %}


