{% extends 'cmdb/base.html' %}
{% load staticfiles %}
{% block titile  %} {% endblock %}

{% block body_block %}

    <div class="page-header">
                <h1>CMDB</h1>
    </div>
    <div>
        <p></strong>.</p>
    </div>
    <div class="page-header">
        <h5>Rango says... hello world!</h5>
    </div>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <h4>server</h4>
            {% if oslist %}
                {%  for os in oslist %}
                    <li class="list-group">{{ os.type }}</li>
                {% endfor %}
            {% else %}
                <strong>no os</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}