<meta charset="utf-8">
<script src="/static/js/cmdb-ajax.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.5/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.3.5/themes/icon.css">
<script type="text/javascript" src="/static/jquery-easyui-1.3.5/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-easyui-1.3.5/jquery.easyui.min.js"></script>
<script>
    $(function(){
	$('#server_list').datagrid({
    method:"get",
    url:'/cmdb/query_server/',
    pageSize:10,
    pageList:[10,20,30,40,50],
    pageNumber:1,
    pagination:true,
    singleSelect:true,
    columns:[[
        {field:'hardware_num',title:'hardware_num',width:100},
        {field:'architecture',title:'architecture',width:100},
        {field:'version',title:'version',width:100},
        {field:'memory',title:'memory',width:100},
        {field:'cpu_count',title:'cpu_count',width:100},
        {field:'detail',title:'detail',width:100},
        {field:'fun_name',title:'fun_name',width:100},
        {field:'admin_ip',title:'admin_ip',width:100},
        {field:'server_ip',title:'server_ip',width:100},
        {field:'net_local',title:'net_local',width:100},
        {field:'vcluster',title:'vcluster',width:100},
        {field:'m_room',title:'m_room',width:100},
        {field:'m_cabinet',title:'m_cabinet',width:100},
        {field:'m_cabloc',title:'m_cabloc',width:100},
        {field:'buy_time',title:'buy_time',width:100},
        {field:'set_time',title:'set_time',width:100},
        {field:'monitor',title:'monitor',width:100},
        {field:'datebase',title:'datebase',width:100},
        {field:'midleware',title:'midleware',width:100, formatter: function(value,row,index) {
          return "<a href='../get_midware_list?id="+row.id+"'"+">操作系统详情</a>"
        }
},
        {field:'version',title:'version',width:100,align:'right'}
      ]],
     toolbar: [{
		iconCls: 'icon-add',
        text:'add',
		handler: function(){

            window.location.href="/cmdb/add_server"

        }
	},'-',{
		iconCls: 'icon-edit',
        text:'edit',
		handler: function(){

            var row = $('#server_list').datagrid('getSelected');

            edit_url ="/cmdb/get_edit_server?id="+row.id;

            window.location.href=edit_url;
        }
	},'-',{
		iconCls: 'icon-remove',
        text:'remove',
		handler: function(){
            var row = $('#server_list').datagrid('getSelected');
            var id = row.id;
            $.ajax( {
                type : "get",
                url : "/cmdb/remove_server/",
                data : {"id":id},
                timeout : 20000,
                cache : false,
                success : function(data) {
                    if(data="success")
                       alert("delete success");
                    else
                       alert("delete failed")
                    $('#server_list').datagrid("reload")
                    }
            });

        }
	}

     ]
    });
})
</script>
{% extends 'cmdb/base.html' %}
{% load staticfiles %}
{% block titile  %} {% endblock %}
{% block body_block %}

  <table id="server_list"></table>
{% endblock %}


